---
const today = new Date();
const year = today.getFullYear();

const styles = {
	footer: `text-center p-10`,
};
---

<footer class={styles.footer}>
	&copy; {year} Superdev. Made with ❤️ by <a
		href="https://twitter.com/langford_dev"
		>Langford
	</a>
</footer>
