---
const styles = {
    h1: ` text-5xl font-bold`,
    h4: `font-[400] text-2xl`,
    section: `p-5 border-b py-[6rem]`,
    sectionWrapper: `max-w-5xl m-auto text-center`,
};
---

<section class={styles.section}>
    <div class={styles.sectionWrapper}>
        <h1 class={styles.h1}>
            Hi there, I'm <span class="gradient-text">Ixartz</span> 👋
        </h1>
        <br />
        <h4 class={styles.h4}>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
            malesuada nisi tellus, non imperdiet nisi tempor at. Lorem ipsum
            dolor sit amet, consectetur adipiscing
        </h4>
    </div>
</section>
