---
const styles = {
    h1: ` text-5xl font-bold`,
    h4: `font-[400] text-2xl`,
    section: `p-5 border-b py-[6rem]`,
    sectionWrapper: `max-w-4xl m-auto text-center`,
};
---

<section class={styles.section}>
    <div class={styles.sectionWrapper}>
        <h1 class={styles.h1}>
            Hi there, I'm <span class="gradient-text">Langford</span> 👋
        </h1>
        <br />
        <h4 class={styles.h4}>
            I share daily articles, tutorials, and courses to help you learn web &
            software development!
        </h4>
    </div>
</section>
