---
const styles = {
    h1: ` lg:text-6xl text-4xl font-bold`,
    h4: `font-[400] text-xl lg:text-2xl`,
    section: `p-5 py-[6rem] pt-10 lg:pt-[5rem] hero text-[#fff] text-center`,
    sectionWrapper: `max-w-4xl m-auto`,
};
---

<section class={styles.section}>
    <div class={styles.sectionWrapper}>
        <h1 class={styles.h1}>
            Grow from zero to a <span class="gradient-text">superhero</span> developer
            🚀
        </h1>
        <br />
        <h4 class={styles.h4}>
            Hi, I'm Langford 👋, and I share articles and tutorials to help you
            learn web & software development!
        </h4>
    </div>
</section>
