<div class="flex items-center cursor-pointer hover:opacity-50 transition">
    <div class="scale-125">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="#FF822D"
            width="24"
            height="24"
            viewBox="0 0 24 24"
        >
            <path d="M9.417 0h6.958l-3.375 8h7l-13 16 4.375-11h-7.375z"></path>
        </svg>
    </div>
    <b class="text-[#222] lg:text-3xl lg:block ml-2 hidden">superdev</b>
</div>
